
<div style="text-align: center; background-color: red">
	<br /> <br />
</div>

<div style="text-align: center; background-color: white">
	<img width="20%" height="70%" src="assets/images/rivante_brand.jpg"><br />
</div>
<div class="fondo">
	<div *ngIf="showError;">
		<p style="color: white;">
			<b>Error: {{errorMessage}}</b>
		</p>
	</div>
	
	<div>
		<p style="color: white;">
			<b>{{infoMessage}}</b>
		</p>
	</div>
	<div *ngIf="linkGenerated; else notGeneratedBlock"
		class="center-button">
		<a href="{{boxLoginURL}}" style="color: white; text-decoration: none;">LOGIN TO BOX</a>
	</div>

	<ng-template #notGeneratedBlock>
	<div class="center-button">Generating login link</div>
	</ng-template>

</div>

