<div style="text-align: center">
	<img width="100%" height="100%" src="assets/images/rivante_banner.png">
</div>

<div *ngIf="showError;">
	<p>Error: {{errorMessage}}</p>
</div>

<simple-notifications></simple-notifications>

<div *ngIf="! (userName === undefined)">
	<div class="container">
		<table class="login-info-container">
			<tr>
				<td>
					<table class="login-info-table" style="float: left;">
						<tr>
							<td class="info-label">Welcome {{userName}}</td>
							<td><a [routerLink]="['/init']" [queryParams]="{logout: true}" class="close-button">Close Session</a></td>
						</tr>
					</table>
			</td>
			<td>
				<table class="login-info-table" style="float: right;">
					<tr>
						<td><div class="info-text" *ngIf="minutesToExpire !== undefined && minutesToExpire >= 0">Your session expires in
								{{minutesToExpire}} minutes</div></td>
						<td><div *ngIf="minutesToExpire !== undefined && minutesToExpire >= 0">
								<a (click)="refreshSession()" class="renew-button">Renew Session</a>
							</div></td>
					</tr>
				</table>
			</td>
			</tr>
			<tr>
				<td>
					<table class="login-info-table" style="float: left;">
						<tr>
							<td><div class="info-text" *ngIf="minutesToExpire !== undefined && minutesToExpire < 0">Your session has expired</div></td>
							<td><div *ngIf="minutesToExpire !== undefined && minutesToExpire < 0">
									<a [routerLink]="['/init']" class="close-button">Go to Start</a>
								</div></td>
						</tr>
					</table>
			</tr>
		</table>

	</div>

	<article>
		<user-projects [userProjects]="projectFolders"></user-projects>
	</article>
</div>











