 
.close-button {
	
	text-align: center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:10px;
	width: 100px;
	background-color: black;
	margin: 0px;
	display: inline-block;
	padding: 2px 5px;
	color:white;
	text-decoration:none;
    
}
.renew-button {
	
	text-align: center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:10px;
	width: 100px;
	background-color: LightGray;
	margin: auto;
	display: inline-block;
	padding:  2px 5px;
	color:black;
	text-decoration:none;
	cursor: pointer;
}

div.container {
	width: 100%;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	color: gray;
	padding: 5px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.center {
   display:inline-block;
}

table.login-info-container {
	width: 50%;
	padding: 0;
}

table.login-info-container td {
	padding: 0;
}


@media only screen and (max-width: 800px) and (min-width: 200px) {
	table.login-info-container {
		width: 100%;
		padding: 0;
	}
}