<h6><b>ITEMS</b></h6>

<table class="folder-item">
	<tr *ngFor="let element of userElements">
		<td>
			<img *ngIf="element.isFolder" src="assets/images/icon_folder.png" />
			<img *ngIf="element.isFile" src="assets/images/icon_file.png" />
		</td>
		<td>
<div class="tooltip">{{element.name}}
  <span class="tooltiptext">{{element.route}}</span>
</div>{{element.name}}</td>
		<td *ngIf="element.isFolder">
			<a href="{{element.editLink}}" target="_blank">OPEN</a>
			<a href="{{element.editLink}}" target="_blank"><img src="assets/images/icon_open.png" /></a>
		</td>
		<td *ngIf="element.isFile">
			<a href="{{element.editLink}}" target="_blank">EDIT</a>
			<a href="{{element.editLink}}" target="_blank"><img src="assets/images/icon_edit.png" /></a>
		</td>
		<td *ngIf="element.isFile">
			<a href="{{element.downloadLink}}" target="_blank">DOWNLOAD</a>
			<a href="{{element.downloadLink}}" target="_blank"><img src="assets/images/icon_download.png" /></a>
		</td>
	</tr>
</table>
<br /><br /><br />

