.borderlist 
{
  padding: 2px;
  margin: 1px;
  list-style-position:inside;
  border-bottom: 1px solid #6d6d6b;
  cursor: pointer;
  font-size:10px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

